// Переменные ================================================

// Ширина внутреннего контейнера
$inner_container: 1510px;

// Паддинги внутреннего контейнера
$paddings_inner_container: 0 15px;

// Основной шрифт
$font_family_common: "Poppins", sans-serif;

// Основной размер шрифта
$font_size_common: 14px;

// Основная высота шрифта
$font_line-height_common: 150%;

// Основной цвет шрифта
$font_color_common: #000000;

//============================================================

// Общая обертка
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Внутренний контейнер
.container-inner {
	flex-grow: 1;
	max-width: $inner_container;
	margin: 0 auto;
	padding: $paddings_inner_container;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

body {
	font-family: $font_family_common;
	font-size: $font_size_common;
	line-height: $font_line-height_common;
	color: $font_color_common;
	background: $gray-2;
}

main {
	flex-grow: 1;
}

.lock {
	overflow: hidden;
}

* {
	// стилизация скролла для Firefox
	scrollbar-color: $purple-2 $white; /* «цвет ползунка» «цвет полосы скроллбара» */
	scrollbar-width: thin;
	// стилизация скролла для Chrome
	&::-webkit-scrollbar {
		// это фон самого скроллбара
		background-color: $white;
		border-radius: 5px;
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-thumb {
		// индикатор прокрутки, перетаскиваемый элемент.
		background-color: $purple-2;
		border-radius: 5px;
	}
}
