.header {
	&__body {
		padding: 28px 0;
		display: flex;
		align-items: center;
		@media (max-width: 576px), (max-height: 440px) {
			padding: 10px 0;
		}
		@media (max-width: 576px), (max-height: 374px) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__search {
		position: relative;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		width: 216px;
		height: 38px;
		border-radius: 10px;
		background: $white;
		padding: 10px 19px 6px 40px;

		@media (max-width: 576px), (max-height: 374px) {
			flex-grow: 1;
		}

		&::placeholder {
			color: $gray-4;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 11px;
			transform: translateY(-50%);
		}
	}

	&__burger {
		cursor: pointer;
		margin-left: 20px;
		@media (min-width: 1500px) {
			display: none;
		}

		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
	}

	.title {
		margin-right: auto;
		@media (max-width: 576px), (max-height: 374px) {
			flex: 1 1 100%;
			order: 1;
		}
	}
}
