// Переменные

// Цвета ============================================
$white: #ffffff;

$black: #000000;

$gray: #b8b8b8;

$purple: #4623e9;
$purple-2: #5932ea;
//===================================================
