.schedule {
	display: flex;
	flex-direction: column;

	&__content {
		flex-grow: 1;
		display: flex;
		gap: 35px;
		margin-bottom: 30px;
		max-height: 778px;
		@media (max-width: 1110px) {
			overflow: auto;
		}
	}
	&__timetable {
		flex: 0 0 1075px;
		background-color: $white;
		border-radius: 20px;
		padding: 32px 32px 78px;

		align-self: flex-start;
	}

	&__sidebar {
		flex: 0 0 370px;
		border-radius: 20px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		gap: 25px;
	}

	&__sidebar-calendar {
	}

	&__sidebar-add-class {
	}
}
