.add-class {
	background-color: $white;
	padding: 27px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	@media (max-width: 768px) {
		width: 100%;
		align-items: stretch;
	}
	@media (max-width: 374px) {
		padding: 20px 0;
	}
	&__content {
		@media (max-width: 374px) {
			max-width: 90%;
			margin: 0 auto;
		}
	}

	&__form {
	}

	&__fields {
	}

	&__submit {
	}
	.title {
		text-align: center;
		margin-bottom: 20px;
	}
	.field {
		margin-bottom: 16px;
		input {
			padding-left: 40px;
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			top: 50%;
			transform: translateY(-50%);
			left: 11px;
			display: block;
			background: $linear-purple;
			border-radius: 50%;
		}
	}
	.submit {
		@media (max-width: 768px) {
			margin: 0 auto;
		}
	}
}
