input {
	// Стилизация полоски
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: 1px solid $white;
	width: 770px;
	height: 6px;
	border-radius: 3px;
	background: linear-gradient(
		to right,
		green 0%,
		green 75%,
		red 75%,
		red 100%
	);
	cursor: pointer;

	// Стилизация управляющего элемента
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 24px;
		height: 24px;
		background: $blue-4;
		border: 3px solid $blue-3;
		border-radius: 50%;
	}
	&::-moz-range-thumb {
		-moz-appearance: none;
		appearance: none;
		width: 24px;
		height: 24px;
		background: $blue-4;
		border: 3px solid $blue-3;
		border-radius: 50%;
	}
}
